	<div class="sidenav" id="sidenav" style="display: none;">
		<div id="pl-img">
			<img ng-src="{{place_details_img}}" style="position: relative; top: -15px;left: 0px;width: 408px;height: 230px;">
		</div>

		<div id="pl-header-details">
			<label class="section-hero-header-title">{{place_name}}</label><br/>
			<label class="section-hero-header-title">{{place_tot_ratting}}&nbsp;<i class="material-icons">star_rate</i></label>
		</div>
		<hr>

		<div id="pl-full-details" class="pl-header-row">
				<i class="material-icons" style="color:#4285F4;">place</i> {{place_formatted_address}}
		</div>
		<hr>
		<div class="review-summary">
				<div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
			      5
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
			      4
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
			      3
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
			      2
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
			      1
			    </div>
			  </div>

		</div>
		<hr>
		<div class="section-reviewchart">

			<div class="section-review-snippet-line" ng-repeat="x in reviews">
				<div ng-if="x.text && x.profile_photo_url">
					<img ng-src="{{x.profile_photo_url}}" class='img-review' />
					<span>{{x.text}}</span>
				</div>
			</div>
			
		</div> 
	</div>