
	<div class="sidenav" id="sidenav">
		
		<div id="pl-img">
			<img src="https://lh5.googleusercontent.com/p/AF1QipPo7SttppEfDIkQ7yDvmH95ejzVOohDR3peNPPZ=w408-h229-k-no" style="position: relative; top: -15px;left: 0px;width: 408px;height: 230px;">
		</div>

		<div id="pl-header-details">
			<label class="section-hero-header-title">CNG Pump</label><br/>
			<label class="section-hero-header-title">4.2<i class="fas fa-star"></i></label>
		</div>
		<hr>

		<div id="pl-full-details" class="pl-header-row">
				<i class="fas fa-map-marker" style="color:#4285F4"></i> 14, Delhi - Jaipur Expy, LIG Colony, Sector 31, Gurugram, Haryana 122022
		</div>
		<hr>
		<div class="review-summary">
				<div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
			      5<i class="fas fa-star"></i>
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
			      4<i class="fas fa-star"></i>
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
			      3<i class="fas fa-star"></i>
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
			      2<i class="fas fa-star"></i>
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar section-reviewchart-bucket-fill" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
			      1<i class="fas fa-star"></i>
			    </div>
			  </div>

		</div>
		<hr>
		<div class="section-reviewchart">
			<div class="section-review-snippet-line">
				<img src="https://lh4.googleusercontent.com/-v64573RGkNU/AAAAAAAAAAI/AAAAAAAAH90/bi9G4Un6W7s/s128-c0x00000000-cc-rp-mo/photo.jpg" class='img-review' />
				<span>Staff is helpful and no longer queue for filling gas here</span>
			</div>
			<div class="section-review-snippet-line">
				<img src="https://lh6.googleusercontent.com/-pPHdO0C7tgo/AAAAAAAAAAI/AAAAAAAACcY/VvyQkBKiahU/s128-c0x00000000-cc-rp-mo-ba3/photo.jpg"  class='img-review' >
				<span>Staff is helpful and no longer queue for filling gas here</span>	
			</div>
			<div class="section-review-snippet-line">
				<img src="https://lh3.googleusercontent.com/-goSnGCumNgk/AAAAAAAAAAI/AAAAAAAABPw/ua0SqRrSFKY/s128-c0x00000000-cc-rp-mo-ba4/photo.jpg"  class='img-review'>
				<span>Staff is helpful and no longer queue for filling gas here</span>
			</div>

			<div class="section-review-snippet-line">
				<img src="https://lh4.googleusercontent.com/-v64573RGkNU/AAAAAAAAAAI/AAAAAAAAH90/bi9G4Un6W7s/s128-c0x00000000-cc-rp-mo/photo.jpg" class='img-review' />
				<span>Staff is helpful and no longer queue for filling gas here</span>
			</div>
			<div class="section-review-snippet-line">
				<img src="https://lh6.googleusercontent.com/-pPHdO0C7tgo/AAAAAAAAAAI/AAAAAAAACcY/VvyQkBKiahU/s128-c0x00000000-cc-rp-mo-ba3/photo.jpg"  class='img-review' >
				<span>Staff is helpful and no longer queue for filling gas here</span>	
			</div>
			<div class="section-review-snippet-line">
				<img src="https://lh3.googleusercontent.com/-goSnGCumNgk/AAAAAAAAAAI/AAAAAAAABPw/ua0SqRrSFKY/s128-c0x00000000-cc-rp-mo-ba4/photo.jpg"  class='img-review'>
				<span>Staff is helpful and no longer queue for filling gas here</span>
			</div>
			
		</div> 
	</div>