./*banner-image {
  background-image: url("cropped-medical-wallpaper.jpg");
  height: 47vw;
  box-shadow: 5px 20px 50px grey;
}

.banner-text {
  font-size: 32px;
  font-weight: bolder;
}*/

.form-field {
  height: 50px;
  width: 80%;
  display: block;
  margin-top: 6%;
  padding: 10px;
}

.form-container {
  padding-top: 7%;
}

.search-bar {
  margin: 1% 0 0 20%;
}

.search-bar-text {
  width:60%;
  padding: 5px;
}

.search-history-container {
  width: 92%;
    min-width: 52%;
    border: 1px solid grey;
    margin: 1% 4%;
}

.search-history-label {
  margin: 1% 0 0 3%;
}

.homepage-header {
  height: 75px;
  background-color: #428bca;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 10px;
}

.homepage-logo {
  float: left;
  font-size: 32px;
  margin: 1% 0 0 3%;
}

.homepage-user {
  float: right;
  margin: 2% 4% 0 0;
}

.signup-button{
  font-size: 16px;
  margin-top: 16px;
}

.signup-success-message{
  color: green;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 16px;
}

.user-search-history{
  margin-top: 10px;
  /*margin-left: 20%;*/
}

/**/
.margin-left50{
  margin-left: 50px;
}

.user-search-box {
  width:50%;
  margin-left:25%
}

.data-save-success {
  width: 20%;
}


body {
    font-family: "Lato", sans-serif;
}

/*.sidenav {
    height: 100%;
    width: 408px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 75px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #fff;
    opacity: 1;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}*/

.main {
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#map{
  width:100%;height:880px;
  margin-top: -10px;
}

/*  .sidenav {
        height: 100%;
        width: 408px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 20px;
        margin-top: 75px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        background: #fff;
        opacity: 1;
    }

    #pl-img{
              position: relative;
        top: -15px;
        left: 0px;
        width: 408px;
        height: 230px;
    }

    #pl-header-details{
      padding: 16px 24px 20px;
      display: block;
      background-color: #4285F4;
      font-size: 13px;
      text-align: left;
      color: white;
    }

    .section-hero-header-title {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .pl-header-row{
      font-family: Roboto, 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI', Arial, sans-serif;
    }

    .section-reviewchart {
    padding: 0 0 20px 72px;
    max-width: 408px;
    box-sizing: border-box;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
      border: 2px solid grey;
      margin-top: 30px;
      height: 300px;
  }
  .section-reviewchart-left {
    display: inline-table;
  }

  .section-reviewchart-right {
    padding: 0;
    display: inline-table;
    text-align: center;
    width: 150px;
    margin-left: 13px;
    vertical-align: top;
  }*/


    .sidenav {
        height: 100%;
        width: 408px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 20px;
        margin-top: 75px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        background: #fff;
        opacity: 1;
    }

    #pl-img{
        position: relative;
        top: -15px;
        left: 0px;
        width: 408px;
        height: 230px;
    }

    #pl-header-details{
      padding: 16px 24px 20px;
      display: block;
      background-color: #4285F4;
      font-size: 13px;
      text-align: left;
      color: white;
    }

    .section-hero-header-title {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .pl-header-row{
      font-family: Roboto, 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI', Arial, sans-serif;
      padding: 0 20px 0px 20px;
    }

    .section-reviewchart {
      padding: 0 0 20px 0px;
      max-width: 408px;
      box-sizing: border-box;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
  }
  .section-reviewchart-left {
    display: inline-table;
  }

  .section-reviewchart-right {
    padding: 0;
    display: inline-table;
    text-align: center;
    width: 150px;
    margin-left: 13px;
    vertical-align: top;
  }
  .img-review{
    height: 36px;
    width: 36px;
    background-size: cover;
    background-image: url(//maps.gstatic.com/tactile/omnibox/anonymous_v3.png);
    background-position: center;
    border-radius: 50%;
  }
  .section-review-snippet-line {
    padding-left: 20px;
    line-height: 19px;
    min-height: 40px;
  }

  .section-reviewchart-bucket-fill {
    background-color: #EB6E00 !important;
    border-radius: 0 3px 3px 0;
    padding: 1px 1px 1px 0;
    height: 17px;
    width: 0;
  }
  .review-summary{
        padding: 0 20px 0 20px;
  }



